.acount_je{
	height: 1.733rem;
	border-bottom: 0.04rem solid #C5C5C5;
}
.acount_je{
	box-sizing: border-box;
	padding: 0 0.466rem;
}
.je_content{
	font-size: 0.333rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 1.733rem;
}
.txt_num {
	color: #9f9e9c;
	font-size: 0.4rem;
}
.acount_vx{
	height: 3.466rem;
	border-bottom: 0.04rem solid #C5C5C5;
}
.vx_content{
	margin-top: 0.333rem;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 0.466rem;
}
.acount_info{
	color: #9f9e9c;
	font-size: 0.333rem;
}
.acount_user{
	display: flex;
	box-sizing: border-box;
	padding: 0 0.466rem;
	margin-top: 0.6rem;
}
.acount_img{
	text-align: right;
	margin-right: 0.6rem;
	width: 2.266rem;
}
.acount_txt{
	margin-top: 0.466rem;
	display: flex;
	flex: 1;
	flex-direction: column;
}
.acount_p_txt{
	margin-top: 0.133rem;
}
.acount_txt1{
	margin-right: 0.133rem;
	margin-left: 0.133rem;
}
.acount_gou{
	text-align: center;
	width: 2.133rem;
	height:2.133rem ;
	line-height: 2.133rem;
}
.acount_p_bot{
	color:#9f9e9c;
	padding:0 0.466rem;
	margin-top: 0.506rem;
}
