.grzx_box{
	width: 100%;
	height: 7rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 0.26rem solid #c1c1c1;
}
.sy{
	margin-top: 0.6rem;
	margin-left: 0.33rem;
	width: 9.36rem;
	height: 0.33rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.scsy{
	margin-left: 0.26rem;
	display: inline-block;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.khfw{
	margin-top: -0.3rem;
	display: inline-block;
	margin-left: 7.83rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.yhtx{
	width: 3.06rem;
	height: 2.8rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3.26rem;
}
.yhtx_img1{
	margin-top: -0.26rem;
	width: 2.84rem;
	height: 2.84rem;
    border-radius:100%;
    background: url(../img/4.jpg);
    background-size: 100% 100%;
}
.yhtx_img2{
	width: 0.73rem;
	height: 0.73rem;
	background: url(../img/personalbinding.png);
	background-size: 100% 100%;
	margin-top: 2.09rem;
	margin-left: 2rem;
	border-radius:100%;
}
.top_img3{
	width: 0.24rem;
	height: 0.24rem;
	background: url(../img/circular.png);
	background-size: 100% 100%;
	border-radius:100%;
	margin-top: -2.73rem;
	margin-left: 0.4rem;
}
.nc{
	width: 1.64rem;
	height: 0.4rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.16rem;
    margin-left: 3.8rem;
	font-size: 0.4rem;
}
.nc_1{
	width: 1.16rem;
	height: 0.26rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.26rem;
    margin-left: 4.1rem;
	font-size: 0.26rem;
}
.nav{
	width: 100%;
	height: 1rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.66rem;
    padding: 0 0.26rem;
    box-sizing: border-box;
}
.nav_1{
	width: 100%;
	height: 1rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.zhjf{
	width: 3rem;
	height: 1rem;
	text-align: center;
	border-right: 2px solid #c1c1c1;
	display: inline-block;
}
.zh{
	font-size: 0.4rem;
	letter-spacing:0.02rem;
	color: #615d5c;
}
.jf{
	margin-top: 0.16rem;
	color: #71706e;
	letter-spacing:0.01rem;
}
.kyye{
	width: 3rem;
	height: 1rem;
	text-align: center;
	border-right: 2px solid #c1c1c1;
	display: inline-block;
}
.ky{
	font-size: 0.4rem;
	letter-spacing:0.02rem;
	color: #615d5c;
}
.ye{
	margin-top: 0.16rem;
	color: #71706e;
	letter-spacing:0.01rem;
}
.ysc{
	width: 3rem;
	height: 1rem;
	text-align: center;
	display: inline-block;
}
.shuliang{
	font-size: 0.4rem;
	letter-spacing:0.02rem;
	color: #615d5c;
}
.sc{
	margin-top: 0.16rem;
	color: #71706e;
	letter-spacing:0.01rem;
}
.grzx_box1{
	width: 100%;
	height: 6rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.26rem;
    box-sizing: border-box;
    border-bottom: 0.26rem solid #c1c1c1;
}
.lp{
	width: 100%;
	height: 0.33rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.4rem;
}
.wdlp{
	margin-left: 0.26rem;
	display: inline-block;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.33rem;
    color: #1f1a16;
}
.dzgl{
	display: inline-block;
	margin-left: 7rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.29rem;
    color: #979797;
}
.jt{
	width: 0.17rem;
	height: 0.17rem;
	background-size: 100% 100%;
	margin-left: 9rem;
	margin-top: 0.16rem;
}
.lp_box{
	width: 100%;
	height: 2.06rem;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    border-bottom: 1px solid #979797;
}
.daizhifu{
	width: 2.33rem;
	height: 100%;
}
/* 公共class 换里面的图标*/
.tb{
	width: 0.82rem;
	height: 0.72rem;
	margin-top: 0.53rem;
	margin-left: 0.72rem;
}
/* 公共class  图标下面的文字描述 */
.describe{
	margin-top: 0.12rem;
	text-align: center;
	color: #807f7d;
}
.daishouhuo{
	width: 2.33rem;
	height: 100%;
}
.yiwancheng{
	width: 2.33rem;
	height: 100%;
}
.daipingjia{
	width: 2.33rem;
	height: 100%;
}
.gwjf{
	width: 100%;
	height: 0.33rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.4rem;
}
.gw{
	margin-left: 0.26rem;
	display: inline-block;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.33rem;
    color: #1f1a16;
}
.yxsh{
	margin-top: -0.39rem;
	display: inline-block;
	margin-left: 6rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.29rem;
    color: #979797;
}
.gw_box{
	width: 100%;
	height: 2.06rem;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.popularize{
	width: 100%;
	height: 2.86rem;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.26rem;
    box-sizing: border-box;
}
.popularize_box{
	width: 100%;
	height: 2.86rem;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.tuiguang{
	width: 3.1rem;
	height: 100%;
}
.tg_img{
	width: 0.8rem;
	height: 0.77rem;
	margin-top: 0.53rem;
	margin-left: 1.24rem;
}
.wdtg{
	text-align: center;
	font-size: 0.33rem;
	margin-top: 0.26rem;
}
.tgyl{
	text-align: center;
	margin-top: 0.22rem;
	color: #8b898a;
}
.hezuo{
	width: 3.1rem;
	height: 100%;
}
.tuichu{
	width: 3.1rem;
	height: 100%;
}
.luanbotu{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10rem;
    height: 2.29rem;
    background: url(../img/advert-04.png);
	background-size: 100% 100%;
}
