.box{
	display: flex;
    flex: 1;
    background-color: #615D5C;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}
.box_a{
    width: 8.33rem;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: center;
}
.box_logo{
    width: 2.81rem;
    height: 2.16rem;
    margin-top: 0.93rem;
    background: url(../images/logo-01.png) no-repeat;
    background-size: 100% 100%;
}
.denglu{
    width: 6.33rem;
    padding-bottom: 0.5em;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 0.56rem;
    border-bottom: 1px solid #969495;
}
.denglu_img1{
	text-indent : 0.13rem;
	width: 0.42rem;
}
.sjhdl{
	border: none;
	text-indent : 0.4rem;
	margin-top: 0.06rem;
}
.mima{
    width: 6.33rem;
    padding-bottom: 0.5em;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 0.93rem;
    border-bottom: 1px solid #969495;
}
.mima_img1{
	text-indent : 0.13rem;
	width: 0.42rem;
}
.password{
	border: none;
	text-indent : 0.4rem;
	margin-top: 0.06rem;
}
.deng{
    margin-top: 0.86rem;
    width: 6.13rem;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.dl{
	width: 100%;
	background: url("../images/botton-1.png") no-repeat;
	background-size: 100% 100%;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.2rem;
}
.zhuce{
    width: 6.33rem;
    margin-top: 0.73rem;
    display: flex;
    justify-content: space-between;
    color: #6e6d6b;
}
.fgx{
    text-align: center;
    margin-top: 0.66rem;
    display: flex;
    justify-content: space-around;
    margin-right: 0.26rem;
}
.fgx_1{
	display: block;
    width: 2.46rem;
    border-bottom: 1px solid #979694;
    height: 1px;
    margin-top: 0.213333rem;
}
.qtdlfs{
	margin-left: 0.48rem;
	margin-right: 0.48rem;
	color: #959593;
}
.fgx_2{
    display: block;
    width: 2.46rem;
    border-bottom: 1px solid #979694;
    height: 1px;
    margin-top: 0.213333rem;
}
.weixin{
	width: 1.28rem;
    height: 1.28rem;
    display: flex;
    align-items: flex-start;
    background: url(../images/Recommendweixing.png) no-repeat;
    background-size: 100% 100%;
    margin: 0.46rem auto 0.66rem;
}
.anniu{
    margin: 20px auto;
    width: 0.78rem;
    height: 0.78rem;
    background: url(../images/closed.png) no-repeat 0 0;
    background-size: 100% 100%;
}
.a{
	display: flex;
    align-items: center;
    flex-direction: column;
}