
		<section class="box" id="login">
			<div>
			<div class="box_a">
				<div class="box_logo"></div>
				<div class="denglu">
					<img class="denglu_img1" src="images/registaccount.png" />
					<input type="text" class="sjhdl" placeholder="手机号登录" v-model="mobile"/>
				</div>
				<div class="mima">
					<img class="mima_img1" src="images/registpassword.png" />
					<input type="password" class="password" placeholder="密码" v-model="password"/>
				</div>
				<div class="deng">
					<p class="dl" @click="click_log">登　　录</p>
				</div>
				<div class="zhuce">
					<p class="xzc" onclick="window.location.href='registration.html'">新用户注册</p>
					<p class="wjmm" onclick="window.location.href='password.html'">忘记密码</p>
				</div> 
				<div class="fgx">
					<i class="fgx_1"></i>
					<p class="qtdlfs">其它登录方式</p>
					<i class="fgx_2"></i>
				</div>
				<div class="weixin"></div>
			</div>
			<div class="anniu" onclick="window.location.reload();  "></div>
			</div>
		</section>
 